<html>
    <head>
        <title>Suite Car</title>
        <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
        <style>
        .body {
            background-color: #27ae60;
        }
        .signup_box {
            margin:auto;
            height:100%;
            width:550px;
            background-color: white;
        }
        .mini_img_logo {
            display: block;
            margin: auto;
            width:330px;
            height:auto;
        }
        .hr_w {
            border:solid 0.4px;
            width: 450px;
            margin-bottom: 18px;
        }
        .forgotten_info {
            text-align: center;
        }
        .forgotten_input {
            margin-top: 50px;
        }
        .forgotten_button {
            background-color: #27ae60;
            border: none;
            border-radius: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            color: white;
            float: right;
        }
        input {
            border: none;
            width: 450px;
            font-size: 17px;
        }
        input:focus {
            outline: none;
        }
        button {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
        #cancel {
            margin-right: 50px;
        }
        #find {
            margin-right: 20px;
        }
        </style>
    </head>
    <body class = "body">
        <div class = "signup_box">
            <img class = "mini_img_logo" src="images/logo.png" alt="logo"><br>
            <div class = "forgotten_info">
                <div class = "forgotten_input">
                    <!--<form action = "forgotten_check"> -->   
                        <input class = "input_text" type = "text" name="username" placeholder="Username">
                        <hr class = "hr_w"><br>
                        <input class = "input_text" type = "text" name="email" placeholder="Email Address"><br>
                        <hr class = "hr_w"><br>
                        <button type="button" onclick="location.href='login'" class = "forgotten_button" id = "cancel">CANCLE</button>
                        <button type="submit" class = "forgotten_button" id = "find">FIND</button>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </body>
</html>

<script type='text/javascript'>
$("#find").click(function(event) {
        $.ajax({
            type : "POST",
            url :"/forgotten_check",
            data : {
                "username" : $('#username').val(),
                "email" : $('#email').val()
            },
            success : function(data) {
                alert(data);
                //alert("E-mail has been sent. Check your E-mail.");
            },
            error : function (data) {
                alert(" Email already sent to your E-mail. ");
            }
        });
    });
</script>