<html>
    <head>
        <title>Suite Car</title>
        <style>
        .body {
            background-color: #27ae60;
        }
        .signin_box {
            margin:auto;
            margin-top:130px;
            height:300px;
            width:1100px;
            background-color: white;
        }
        .box_left {
            float:left;
            height:270px;
            width:440px;
            margin: 10px 40px 40px 40px;
        }
        .box_right {
            float:left;
            height:200px;
            width:410px;
            margin: 60px 40px 40px 90px;
        }
        .input_text {
            border:0px;
            font-size: 18px;
            margin-top: 5px;
        }
        .img_logo {
            width:450px;
            height:auto;
        }
        .home_message {
            text-align: right;
            font-size: 24px;
            font-weight: bold;
            color: #27ae60;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 10px;
        }
        .button {
            background-color: #27ae60;
            border: none;
            border-radius: 5px;
            width: 125px;
            height: 30px;
            text-align: center;
            color: white;
            float: right;
            margin-left: 10px;
        }
        .hr_h {
            border:solid 0.3px;
            height: 280px;
            width: 0px;
            float: left;
        }
        input {
            width: 100%;
        }
        input:focus {
            outline: none;
        }
        button {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
        </style>
    </head>
    <body class = "body">
        <div class = "signin_box">
            <div class = "box_left">
                <img class = "img_logo" src="images/logo.png" alt="logo">
                <br><br>
                <div class = "home_message">
                    For your PERFECT driving,<br>
                    Join us Right NOW!                        
                </div>
            </div>
            <hr class = hr_h>
            <div class = "box_right">
                <button type="button" onclick="location.href='change_password_page'" class = "button" id = "password_change">Password Change</button>
                <button type="button" class = "button" onclick="location.href='signout'" id = "signout">Sign Out</button>
                <button type="button" class = "button" onclick="location.href='id_cancelation_page'" id = "id_cancelation_page">ID Cancelation</button>
            </div>
        </div>
    </body>
</html>