<html>
    <head>
        <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
        <title>Suite Car</title>
        <style>
        .body {
            background-color: #27ae60;
        }
        .signin_box {
            margin:auto;
            margin-top:130px;
            height:300px;
            width:1100px;
            background-color: white;
        }
        .box_left {
            float:left;
            height:270px;
            width:440px;
            margin: 10px 40px 40px 40px;
        }
        .box_right {
            float:left;
            height:200px;
            width:410px;
            margin: 60px 40px 40px 90px;
        }
        .input_text {
            border:0px;
            font-size: 18px;
            margin-top: 5px;
        }
        .img_logo {
            width:450px;
            height:auto;
        }
        .home_message {
            text-align: right;
            font-size: 24px;
            font-weight: bold;
            color: #27ae60;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 10px;
        }
        .button {
            background-color: #27ae60;
            border: none;
            border-radius: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            color: white;
            float: right;
            margin-left: 20px;
        }
        .hr_w {
            border:solid 0.5px;
        }
        .hr_h {
            border:solid 0.3px;
            height: 280px;
            width: 0px;
            float: left;
        }
        input {
            width: 100%;
        }
        input:focus {
            outline: none;
        }
        button {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
        </style>
    </head>
    <body class = "body">
        <div class = "signin_box">
            <div class = "box_left">
                <img class = "img_logo" src="images/logo.png" alt="logo">
                <br><br>
                <div class = "home_message">
                    For your PERFECT driving,<br>
                    Join us Right NOW!                        
                </div>
            </div>
            <hr class = hr_h>
            <div class = "box_right">
                <!--<form action="signin" method="post">-->
                    <input class = "input_text" type = "text" name="username" id="username" placeholder="Username"> <br>
                    <hr class = "hr_w"><br>
                    <input class = "input_text" type = "password" name="password" id="password" placeholder="Password">
                    <hr class = "hr_w"><br>
                    <button class = "button" id = "submit">Sign In</button><br>
                <!--</form>-->
                <button type = "button" onclick = "location.href='forgotten'" class = "button">Forgotten PW</button>
                <button type = "button" onclick = "location.href='signup'" class = "button">Sign Up</button>
            </div>
        </div>
    </body>
</html>

<script type='text/javascript'>
$("#submit").click(function(event) {
    $.ajax({
        type : "POST",
        url :"/signin",
        data : {
            "username" : $('#username').val(),
            "password" : $('#password').val()
        },
        success : function(data) {
            if(data == "login_fail") {
                alert("There is miss on ID or Password Please Enter Correctly.");
            }
            else if(data == "login_success") {
                alert("Welcome to suiteCar!");
                location.href = "home";
            }
            else if(data == "password_change") {
                location.href = "home";
                alert("you should change the password");
                alert("window done");
            }
            else {
                alert("failed");
            }
        },
        error : function (request, error) {
            alert(" Email already sent to your E-mail. ");
        }
    });
});
</script>