<html lang="en">

<head>
    <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    
    <!-- Title Page-->
    <title>Suite Car</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

    <style>
        .signup_button {
            background-color: #27c96a;
            border: none;
            border-radius: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            color: white;
            float: right;
        }
    </style>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header id="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="logo">
                            <a href="home">
                                <img src="images/icon/logo.png" alt="Suite Car" />
                            </a>
                        </div>
                        <div class="header-wrap">
                            <div class="header-button">      
                                <a href="team" class="nav">Team</a>   
                                <a href="maps" class="nav">Map</a>
                                <a href="air_chart" class="nav">Air Chart</a>
                                <a href="heart_chart" class="nav">Heart Chart</a>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-03.jpg" alt="J3SUNG" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{username}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-03.jpg" alt="J3SUNG" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{username}}</a>
                                                    </h5> 
                                                    <span class="email">{{email}}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="change_password_page">
                                                        <i class="zmdi zmdi-account"></i>Password Change</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="id_cancelation_page">
                                                        <i class="zmdi zmdi-settings"></i>ID Cancellation</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="signout">
                                                        <i class="zmdi zmdi-power"></i>Sign Out</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <div class="main-content" id="back_maps">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 m-t-20">
                                <!-- MAP DATA-->
                                <!--<p id="demo"></p>
                                <button onclick="getLocation()">try it</button>-->
                                <div id="map"></div>
                                <script>
                                var map;
                                var activeInfoWindow;
                                var marker = [];
                                var infowindow = [];
                                
                                var get_json_data = (function(){
                                    var json = null;
                                    $.ajax({
                                        'async': false,
                                        'global': false,
                                        'url' : "/db_data_for_map",
                                        'dataType' : "json",
                                        'success' : function(data) {
                                            json = data;
                                        },
                                        'error' : function(data) {
                                            alert("There is something wrong. ");
                                        }
                                    });
                                    return json;
                                })();

                                function initMap() {
                                    var options = {
                                        center : {lat : get_json_data[0].lat, // modify to current location
                                        lng : get_json_data[0].lng},
                                        zoom : 12,
                                        mapTypeId : google.maps.MapTypeId.TERRAIN
                                    }
                                    map = new google.maps.Map(document.getElementById("map"), options);
                                    setTimeout(function(){ create_mark(get_json_data);
                                                         }, 1000);
                                }

                                function create_mark(json_data) {
                                    clearOverlays();
                                    var map_bounds = map.getBounds();
                                    var ne = map_bounds.getNorthEast();
                                    var sw = map_bounds.getSouthWest();
                                    for(var index in json_data) {
                                        var data_info = json_data[index];
                                        //alert("data_info.lat" + data_info.lat + '<br>' + ne.lat());
                                        if((data_info.lat > ne.lat()) || (data_info.lng > ne.lng())
                                            || (data_info.lat < sw.lat()) || (data_info.lng < sw.lng())) {
                                                continue;
                                            }
                                        var data_color;
                                        if(data_info.PM25_aqi <= 50) {
                                            data_color = '#00FF00';
                                        }
                                        else if(data_info.PM25_aqi > 50 && data_info.PM25_aqi <=100) {
                                            data_color = '#FFFF00';
                                        }
                                        else if(data_info.PM25_aqi > 100 && data_info.PM25_aqi <= 150) {
                                            data_color = '#FF8000';
                                        }
                                        else if(data_info.PM25_aqi > 150 && data_info.PM25_aqi <= 200) {
                                            data_color = '#FF0000';
                                        }
                                        else if(data_info.PM25_aqi > 200 && data_info.PM25_aqi <= 300) {
                                            data_color = '#FF00FF';
                                        }
                                        else if(data_info.PM25_aqi > 300 && data_info.PM25_aqi <= 500) {
                                            data_color = '#800000';
                                        }
                                        else {
                                            data_color = '#000000';
                                        }
                                        contents = "<form action = \"infowindow_to_chart\" method = \"get\">"
                                                               + "<div><string><h1>" + "Sensor Name : " + data_info.sname + "</h1></div><br>"
                                                               + "CO : " + data_info.CO_aqi + "<br>SO2 : " + data_info.SO2_aqi + "<br>NO2 : "
                                                               + data_info.NO2_aqi + "<br>O3 : " + data_info.O3_aqi + "<br>PM2.5 : " + data_info.PM25_aqi
                                                               + "</string></div>"
                                                               + "<br>"
                                                               + "<a href='infowindow_to_chart?sensor=" + data_info.sensor_no + "&flag=" + 1 + "'>chart view</a>"
                                                               + '<button type = "submit" class = "signup_button" id = "chart_view">Chart View</button>'
                                                               + '<input class=\"input_text\" type = \"hidden\" id=\"sensor_no\" name=\"sensor_no\" value = \'data_info.sensor_no\'>'
                                                               + "</form>";

                                        //var map_zoom = map.getZoom();
                                        //var radius_with_zoom = 10000 * map_zoom * (1 / Math.pow(2, map_zoom - 5));
                                        marker[index] = new google.maps.Circle({
                                            map : map,
                                            center : {lat : data_info.lat,
                                            lng : data_info.lng},
                                            radius : 100000,
                                            strokeColor: data_color,
                                            strokeOpacity : 0.5,
                                            strokeWeight : 2,
                                            fillColor : data_color,
                                            fillOpacity : 0.3,
                                            draggable : false
                                        });
                                        marker[index].content = contents;

                                        infowindow[index] = new google.maps.InfoWindow();

                                        google.maps.event.addListener(marker[index], 'click', function() {
                                            infowindow[index].setContent(this.content);
                                            infowindow[index].setPosition(this.getCenter());
                                            infowindow[index].open(map, this);
                                        });

                                        google.maps.event.addListener(map, 'idle', function() {
                                            create_mark(get_json_data);
                                        });
                                    }
                                }

                                // The mapping between latitude, longitude and pixels is defined by the web
                                // mercator projection.
                                function project(latLng) {
                                    var siny = Math.sin(latLng.lat() * Math.PI / 180);

                                    // Truncating to 0.9999 effectively limits latitude to 89.189. This is
                                    // about a third of a tile past the edge of the world tile.
                                    siny = Math.min(Math.max(siny, -0.9999), 0.9999);

                                    return new google.maps.Point(
                                        TILE_SIZE * (0.5 + latLng.lng() / 360),
                                        TILE_SIZE * (0.5 - Math.log((1 + siny) / (1 - siny)) / (4 * Math.PI)));
                                }

                                /*
                                var x = document.getElementById("demo");

                                function getLocation() {
                                if (navigator.geolocation) {
                                    navigator.geolocation.getCurrentPosition(showPosition);
                                } else { 
                                    x.innerHTML = "Geolocation is not supported by this browser.";
                                }
                                }

                                function showPosition(position) {
                                x.innerHTML = "Latitude: " + position.coords.latitude + 
                                "<br>Longitude: " + position.coords.longitude;
                                }
                                */

                                function clearOverlays() {
                                    for(var i = 0; i < marker.length; i++) {
                                        marker[i].setMap(null);
                                    }
                                    marker = [];
                                    infowindow = [];
                                }
                                setInterval(create_mark, 5000, get_json_data);
                                </script>
                                <!-- END MAP DATA-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Map -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4E2DLjl0PUtVHjQruVcL0GJgmamn4UgY&callback=initMap">
    </script>
    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>
    <script src="vendor/vector-map/jquery.vmap.js"></script>
    <script src="vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="vendor/vector-map/jquery.vmap.world.js"></script>
    <script src="vendor/vector-map/jquery.vmap.brazil.js"></script>
    <script src="vendor/vector-map/jquery.vmap.europe.js"></script>
    <script src="vendor/vector-map/jquery.vmap.france.js"></script>
    <script src="vendor/vector-map/jquery.vmap.germany.js"></script>
    <script src="vendor/vector-map/jquery.vmap.russia.js"></script>
    <script src="vendor/vector-map/jquery.vmap.usa.js"></script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>