<html>
    <head>
        <title>Suite Car</title>
        <style>
        .body {
            background-color: #27ae60;
        }
        .signup_box {
            margin:auto;
            height:100%;
            width:550px;
            background-color: white;
        }
        .mini_img_logo {
            display: block;
            margin: auto;
            width:330px;
            height:auto;
        }
        .hr_w {
            border:solid 0.4px;
            width: 450px;
            margin-bottom: 18px;
        }
        .signup_info {
            text-align: center;
        }
        .signup_button {
            background-color: #27c96a;
            border: none;
            border-radius: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            color: white;
            float: right;
        }
        input {
            border: none;
            width: 450px;
            font-size: 17px;
        }
        input:focus {
            outline: none;
        }
        button {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
        #cancel {
            margin-right: 50px;
        }
        #submit {
            margin-right: 20px;
        }
        </style>
    </head>
    <body class = "body">
        <div class = "signup_box">
            <img class = "mini_img_logo" src="images/logo.png" alt="logo"><br>
            <form action="signup_check" method="post">
                <div class = "signup_info">
                    <input class = "input_text" type = "text" name="username" placeholder="Username">
                    <hr class = "hr_w">
                    <input class = "input_text" type = "text" name="email" placeholder="Email Address"><br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "password" name="password" placeholder="Password"> <br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "password" name="password_confirm" placeholder="Password_confirmation"><br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "text" name="phone" placeholder="Phone_number"> <br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "text" name="first_name" placeholder="First_name"><br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "text" name="last_name" placeholder="Last_name"><br>
                    <hr class = "hr_w">
                    <button type = "button" onclick="location.href = 'login'" class = "signup_button" id = "cancel">CANCEL</button>
                    <button type = "submit" class = "signup_button" id = "submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </body>
</html>