<html>
    <head>
        <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
        <title>Suite Car</title>
        <style>
        .body {
            background-color: #27ae60;
        }
        .signup_box {
            margin:auto;
            height:100%;
            width:550px;
            background-color: white;
        }
        .mini_img_logo {
            display: block;
            margin: auto;
            width:330px;
            height:auto;
        }
        .hr_w {
            border:solid 0.4px;
            width: 450px;
            margin-bottom: 18px;
        }
        .signup_info {
            text-align: center;
        }
        .signup_button {
            background-color: #27c96a;
            border: none;
            border-radius: 5px;
            width: 130px;
            height: 30px;
            text-align: center;
            color: white;
            float: right;
        }
        input {
            border: none;
            width: 450px;
            font-size: 17px;
        }
        input:focus {
            outline: none;
        }
        button {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
        #cancel {
            margin-right: 50px;
        }
        #submit {
            margin-right: 20px;
        }
        </style>
    </head>
    <body class = "body">
        <div class = "signup_box">
            <img class = "mini_img_logo" src="images/logo.png" alt="logo"><br>
            <form action="signup_check" method="post">
                <div class = "signup_info">
                    <input class = "input_text" type = "text" name="username" id="username" placeholder="Username">
                    <hr class = "hr_w">
                    <input class = "input_text" type = "text" name="email" id="email" placeholder="Email Address"><br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "password" name="password" id="password" placeholder="Password" > <br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "password" name="password_confirm" id="password_confirm" placeholder="Password_confirmation"><br>
                    <hr class = "hr_w">
                    <div class = "input_text" type = "text" name="alert_notEqual" id="alert_notEqual">Incorrect Password</div>
                    <div class = "input_text" type = "text" name="alert_equal" id="alert_equal">Correct Password<br></div>
                    <input class = "input_text" type = "text" name="phone" id="phone" placeholder="Phone_number"> <br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "text" name="first_name" id="first_name" placeholder="First_name"><br>
                    <hr class = "hr_w">
                    <input class = "input_text" type = "text" name="last_name" id = "last_name" placeholder="Last_name"><br>
                    <hr class = "hr_w">
                    <button type = "button" onclick="location.href = 'login'" class = "signup_button" id = "cancel">CANCEL</button>
                    <button type = "submit" class = "signup_button" onclick="check()" id = "submit" disabled>SUBMIT</button>
                </div>
            </form>
        </div>
    </body>
</html>

<script type='text/javascript'>
$(function(){
    $("#alert_notEqual").hide();
    $("#alert_equal").hide();

    $('#password_confirm').keyup(function(event) {
        var password = $('#password').val();
        var password_confirm = $('#password_confirm').val();
        //compare two password
        if(password == password_confirm) {
            $("#alert_equal").show();
            $("#alert_notEqual").hide();
            document.getElementById("submit").disabled = false;
        }
        else {
            $("#alert_equal").hide();
            $("#alert_notEqual").show();
            document.getElementById("submit").disabled = true;
        }
    });
});
function check()
{
    $.ajax({
        type : "POST"
        url :"./signup_check",
        data : {
            "username" : $('#username').val(),
            "email" : $('#email').val(),
            "password" : $('#password').val(),
            "password_confirm" : $('#password_confirm').val(),
            "phone" : $('#phone').val(),
            "first_name" : $('#first_name').val(),
            "last_name" : $('#last_name').val()
        },
        success : function(data) {
            alert(\"succees to send email\");
        },
        error : function(data) {
            alert(\"failed to send email\");
        }
    });
}


$(function() {

})

    /*
    $(password_compare)()
    {
        var ajax = $.ajax({
            type : "POST",
            url : "./signup_check"
        });

        ajax.done(password_compare(data)
        
        )
    }
    */
/*
function test(){
    $.ajax({
        type:"POST",
        url:"/signup_check",
        data:{
            "username":$('#username').val()
            "
        },
        success:function(data){	//data : checkSignup에서 넘겨준 결과
            if($.trim(data)=="YES"){
                if($('#username').val()!=''){ 
                    alert("사용가능한 아이디입니다.");
                }
            }
            else{
                if($('#id').val()!=''){
                    alert("중복된 아이디입니다.");
                    $('#id').val('');
                    $('#id').focus();
                }
            }
        }
    })
})
}
*/
</script>