<html>
	<head>
		<meta charset="utf-8"/>
		<title>User Sign Up</title>
		<link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
		<link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<h1>Welcome to J3SUNG's Site</h1>
		<div>Please sign up in the form below</div>

		{{ fakevariable }}

		{{ myname }}

	<form method="post" action="handlesignup">
	username <input type="text" name="username" value="" size="20"><br />
	password <input type="password" name="password" value="" size="20"><br />
	email <input type="email" name="email" value="" size="20"><br />

	<input type="submit" value="Sign me up!" />
	</form>
	</body>
</html>
